.ctaText{
    h1{
        text-indent: 4rem;
        margin: auto;
        text-align: center;
        color: black;
        max-width: 79%;
        line-height: 1.7rem;
        word-spacing: 1px;
    }
}