.container{
    display: block;
}

.bannerImage{
    
}

.divImg{
    display:inline-block;
    width: auto;
    height: auto;
}

.divImg2{
    margin-top: 3rem;
    margin: 2rem;
    cursor: pointer;
    display: block;
    text-align: center;
}

.ctaText{
    p{
        text-indent: 4rem;
        margin: auto;
        text-align: center;
        font-size: 1.5rem;
        color: gray;
        max-width: 79%;
        line-height: 1.7rem;
        word-spacing: 1px;
        margin-bottom: 2rem;
    }
}

.containerHeader{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ctaTextFinal{
    p{
        color: gray;
        margin-left: 4rem;
        text-align: right;
        font-size: 1.6em;
        word-spacing: 2px;
    }
}

.titulo{
    text-align: right;
    font-size: 4.5rem;
    text-indent: 8rem;
    font-family: 'Baron-Neue';
}

.imagem2{
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

@font-face {
    font-family: 'Baron-Neue';
    src: url('../../src/styles/Baron-Neue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}