

.ctaText{
    p{
        text-indent: 0rem;
        margin: auto;
        text-align: justify;
        font-size: 1.9rem;
        color: gray;
        max-width: 79%;
        line-height: 2.5rem;
        word-spacing: 6px;
    }
}