.container {
    max-width: 1120px;
    margin: 2rem auto;


    h1 {
        font-family: Baron-Neue;
        font-size: 50px;
        margin-bottom: 2rem;
    }

    img {
        margin-bottom: 1rem;
        max-width: 100%;
        max-height: 300px;
    }
}


.posts {
    display: inline-block;
    margin-left: 3.2rem;


    a{
        text-decoration: none;

        &+a {
            margin-top: 2rem;
            padding-top: 2rem;
        }

        strong {

            font-size: 1.5rem;
            margin: 1rem 0;
            line-height: 2rem;
            color: black;
            transition: color 0.3s;
            font-family: Baron-Neue;
            font-size: 34px;

        }

        p {
            max-width: 350px; // Limite maximo do texto
            margin-top: 1;
            color: gray;
            font-size: larger;
            line-height: 1.62rem;
            overflow: hidden; // Removendo barra de rolagem
            text-overflow: ellipsis; // Adicionando "..." ao final
            display: -webkit-box;
            -webkit-line-clamp: 5; // Quantidade de linhas
            -webkit-box-orient: vertical;
        }

        &:hover strong {
            color: gold;
        }
    }
}

@font-face {
    font-family: 'Baron-Neue';
    src: url('../../../src/styles/Baron-Neue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}