.container {

    margin: 1rem auto;


    h1 {
        font-family: Baron-Neue;
        font-size: 50px;
        margin-bottom: 2rem;
    }

    img {
        margin-bottom: 1rem;
        max-width: 100%;
        max-height: 300px;
    }

}

.posts {

    .button {
        background-color: transparent;
    }

    margin-left: 3.2rem;

    a {
        text-decoration: none;

        &+a {
            margin-top: 2rem;
            padding-top: 2rem;
        }

        h1 {

            font-size: 1.5rem;
            margin: 1rem 0;
            line-height: 2rem;
            color: black;
            transition: color 0.3s;
            font-family: Baron-Neue;
            font-size: 34px;

        }

        div {
            max-width: 350px; // Limite maximo do texto
            margin-top: 1;
            margin-bottom: 3rem;
            color: gray;
            font-size: larger;
            line-height: 1.62rem;
            overflow: hidden; // Removendo barra de rolagem
            text-overflow: ellipsis; // Adicionando "..." ao final
            display: -webkit-box;
            -webkit-line-clamp: 5; // Quantidade de linhas
            -webkit-box-orient: vertical;
        }

        &:hover h1 {
            color: gold;
        }
    }
}

.modalBody {
    h1{
        font-family: Baron-Neue;
    }

    p{
        color: rgba(7, 7, 7, 0.878);
        font-size: large;
        text-align: left;
    }


}

.modalContainer{
    opacity: 1;
}


@font-face {
    font-family: 'Baron-Neue';
    src: url('../../../src/styles/Baron-Neue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.buttomNavigate{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    div{
        display: flex;
        flex-direction: row;

    }

    button{
        margin: 0 5px;
        border: 0;
        background-color: white;
        display: flex ;
        padding: 0.5 rem;
        
        --bs-btn-hover-bg: gold;
    }
  
}