.container {
    max-width: 1120px;
    margin: 2rem auto;

    h1{
        font-family: Baron-Neue;
        font-size: 50px;
        margin-bottom: 2rem;
    }

}



.posts {
    display: inline-block;
    margin-left: 3.2rem;


    a{
        text-decoration: none;

        &+a {
            margin-top: 2rem;
            padding-top: 2rem;
        }

        img {
            margin-top: 2rem;
            margin-bottom: 150rem;
            max-width: 100%;
            max-height: 300px;
            display: block;
        }

        strong {
            margin-top: 1rem;
            font-size: 1.5rem;
            margin: 1rem 0;
            line-height: 2rem;
            color: black;
            transition: color 0.3s;
            font-family: Baron-Neue;
            font-size: 34px;
        }

        p {
            color: gray;
            font-size: larger;
            line-height: 1.62rem;
            max-width: 300px; // Limite maximo do texto
            white-space: nowrap; // Removendo quebra de linha
            overflow: hidden; // Removendo a barra de rolagem
            text-overflow: ellipsis; // Adicionando "..." ao final do texto
        }

        &:hover strong {
            color: gold;
        }
    }
}

@font-face {
    font-family: 'Baron-Neue';
    src: url('../../../node_modules/next/font/local/Baron-Neue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  