.headerContainer {
    height: 5rem;
    //border-bottom: 5px solid var(--gold);
}

.barra {
    display: block;
}

.headerContent {
    max-width: 1120px;
    height: 6rem;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;

    img {
        cursor: pointer;
        margin-left: 5rem;
    }

    nav {
        margin-left: 4rem;

        a {
            position: relative;
            padding: 0.5 0.8rem;
            color: black;
            transition: color 0.2s;
            font: 500 0.75rem 'Montserrat';

            &:hover {
                color: gray
            }

            &.active {
                color: #cfc20b;
                font-weight: bold;
            }
        }
    }

    .linkContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media (max-width: 835px) {
        .headerContainer {
            height: 30rem;
            padding: 0.5rem 0;
        }

        .headerContent {
            display: flex;
            flex-direction: column;
        }
    }

}