.container{
    display: block;
    margin-top: 1.5rem;
}

.containerHeader{
    margin: 0 auto;
    justify-content: space-between;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo{
    font-size: 5.5vw;
    text-indent: 4rem;
}
 
.ctaText{
    h1{
        margin-top: 3.5rem;
    }
    p{
        margin-left: 4rem;
        text-align: left;
        font-size: 1.7vw;
        word-spacing: 2px;
    }
}

.ctaTextFinal{
    h1{
        font-size: 3vw;
        font-weight: bold;
    }
    p{
        margin-left: 4rem;
        text-align: justify;
        //texto responsivo
        font-size: 1.3vw;
        word-spacing: 2px;
    }
}

.imagem1{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.imagem2{
    margin-left: 2rem; 
    margin-bottom: 2rem;
}

// @media screen and (max-width: 1538px) {
//     .ctaTextFinal{
//         h1{
//             font-size: 3vw;
//         }
//         p{
            
//         }
//     }
// }