.footerContainer{
    height: 5rem;
    border-top: 5px solid var(--gold);
    display: block;
    
    
}

.footerContent{
    background-color: var(--blue);
    min-height: 25rem;

    h5{
        font-size: 0.85rem;
        color: #D3D3D3;
        max-width: 600px;
        line-height: 1rem;
    } 
}

.footercont{
    margin: auto;
    margin-right: 40rem;
    max-width: 1120px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}